<form method="post" action="/articles">

    <div>
        <label for="title">Title: </label>
        <input id="title" type="text" name="title" />
    </div>
    <div>
        <label for="description">Description: </label> <br/>
        <textarea id="description" name="description" rows="15" cols="15"></textarea>
    </div>
    <div>
        <label for="picture">Picture link: </label>
        <input id="picture" name="picture" rows="15" cols="15"></input>
    </div>
    <div>
        <button type="submit">Create</button>
    </div>

</form>