Edit - {{ article.title }}

<form method="post" action="/articles/{{ article.id }}">

    <div>
        <label for="title">Title: </label>
        <input id="title" type="text" name="title" value="{{ article.title }}"/>
    </div>
    <div>
        <label for="description">Description: </label> <br/>
        <textarea id="description" name="description" rows="15" cols="15">{{ article.description }}</textarea>
    </div>
    <div>
        <label for="picture">Picture link: </label>
        <input id="picture" name="picture" rows="15" cols="15"></input>
    </div>
    <div>
        <button type="submit">Update</button>
    </div>

</form>